/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px solid red;
}

body{
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    height: 100vh;
}

/* Default for all square game block styles */
.gameBox{
    display: block;
    text-decoration: none;
    width: 75%;
    height: 50vh;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    border-radius: 10px;
    z-index: 5;
    margin: 25px auto;
}

.gameBox:hover{
    opacity: 0.6;
    transition: 0.7s ease-in-out;
}

/* Header Styles */

.header{
    width: 100vw;
    height: 100px;
    background: #264348;
}

.header h1 {
    color: #eee;
    font-family: Raleway, Arial, sans-serif;
    font-size: 2.2em;
    font-weight: 100;
    padding: 0 25px;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
}

.section1{
    background: #D2D7D3;
}

/* Container for all the games */

.gameContainer{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}


/* Pong CSS square styles */
.gamePong{
    background: #111;
    color: #fff;
    /*background: url('https://images.unsplash.com/photo-1508954528226-0b941060b8bf?auto=format&fit=crop&w=1446&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D ');*/
    background-size: cover;
}
