/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section {
    height: 100%;
    background: url("img/DiamondBackground.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

/* Default for all square game block styles */
.gameBox {
    display: block;
    text-decoration: none;
    width: 75%;
    height: 50vh;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    z-index: 5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto 10px auto;
    padding: 15px;
    box-shadow: 2px 2px 15px #111;
}

.gameBox:hover {
    opacity: 0.5;
    transition-delay: 0.5s;
    transition: 0.5s ease-in-out;
}

/* Header Styles */

.header {
    width: 100vw;
    height: 100px;
    background: #3f3f3f;
}

.header h1 {
    color: #fff;
    font-family: Raleway, Arial, sans-serif;
    font-size: 2.2em;
    font-weight: 100;
    padding: 0 25px;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
}

.section1 {
}

/* Container for all the games */

.gameContainer {
    position: relative;
    display: inline-block;
    width: 75vw;
    height: 100%;
    margin: 0 auto;
}

/* Pong CSS square styles */
.gamePong {
    background: #222;
    color: #fff;
}

.centerText {
    font-size: 3.3em;
    font-family: monospace;
}

/* Placeholder blocks until I get more content */

.gameBrick {
    background: #444;
    color: #222;
}

.place2 {
    background: #666;
    color: black;
}

.place3 {
    background: #888;
    color: antiquewhite;
}
/* Media Queries */
/
    /*Not sure what I want to do with this as of now, but
I would like to implement a wider 'vw' for the .gameContainer --
*/
    @media(max-width: 540px) {
}
