body {
    background: #fff;
}
#brickCanvas {
    background: #ddd;
    display: block;
    margin: 25px auto;
}

.instructions {
    background: #bbb;
    height: auto;
    width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions p {
    color: #fff;
    font-family: Helvetica;
    font-size: 1.2em;
}
